Blueprints/Integration Airtable.blueprint.json
{
    "name": "Integration Airtable",
    "flow": [
        {
            "id": 4,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "app3RPm07WOzqz60j",
                "table": "tblSpuX72udphp34m",
                "config": {
                    "labelField": "Last modified time",
                    "triggerField": "Last modified time"
                },
                "formula": "",
                "maxRecords": 1,
                "__IMTCONN__": 9917409,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Conversaciones de Soporte"
                        },
                        "table": {
                            "label": "Conversaciones"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Last modified time"
                                },
                                "triggerField": {
                                    "label": "Last modified time"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "OperacionId",
                        "type": "number",
                        "label": "OperacionId"
                    },
                    {
                        "name": "ChatID",
                        "type": "text",
                        "label": "ChatID"
                    },
                    {
                        "name": "Estado",
                        "type": "text",
                        "label": "Estado"
                    },
                    {
                        "name": "Fecha",
                        "time": true,
                        "type": "date",
                        "label": "Fecha"
                    },
                    {
                        "name": "Autorizaciones",
                        "type": "text",
                        "label": "Autorizaciones"
                    },
                    {
                        "name": "Motivo",
                        "type": "text",
                        "label": "Motivo"
                    },
                    {
                        "name": "Registro de autorización",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Registro de autorización"
                    },
                    {
                        "name": "Last modified time",
                        "type": "date",
                        "label": "Last modified time"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicIfElse",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 515,
                    "y": -10
                }
            },
            "branches": [
                {
                    "merge": false,
                    "label": "Autorizado",
                    "type": "condition",
                    "flow": [
                        {
                            "id": 9,
                            "module": "microsoft-email:listMessages",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9917455
                            },
                            "mapper": {
                                "limit": "1",
                                "folder": "/AQMkADAwATZiZmYAZC04N2IxLTcyODYtMDACLTAwCgAuAAADtszDoAcPeUmX3EVy9ccHLAEArTjulZ5BAkqgAEpesc0HSQAAAgEMAAAA",
                                "search": "Tu código de verificación"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 815,
                                    "y": -310,
                                    "name": "busco el mail en casilla"
                                },
                                "restore": {
                                    "expect": {
                                        "folder": {
                                            "mode": "chose",
                                            "path": [
                                                "Bandeja de entrada"
                                            ]
                                        },
                                        "orderby": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            },
                                            "label": "My Microsoft connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "folder",
                                        "type": "folder",
                                        "label": "Mail Folder"
                                    },
                                    {
                                        "name": "search",
                                        "type": "text",
                                        "label": "Search"
                                    },
                                    {
                                        "name": "orderby",
                                        "type": "select",
                                        "label": "Order by",
                                        "validate": {
                                            "enum": [
                                                "subject asc",
                                                "subject desc",
                                                "createdDateTime asc",
                                                "createdDateTime desc",
                                                "lastModifiedDateTime asc",
                                                "lastModifiedDateTime desc",
                                                "receivedDateTime asc",
                                                "receivedDateTime desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "regexp:HTMLToText",
                            "version": 1,
                            "parameters": {},
                            "filter": null,
                            "mapper": {
                                "html": "{{9.body.content}}",
                                "newline": "lf",
                                "uppercaseHeadings": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1372,
                                    "y": -437
                                },
                                "restore": {
                                    "expect": {
                                        "newline": {
                                            "label": "LF (\\n) - Unix/Mac OS X"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "HTML"
                                    },
                                    {
                                        "name": "newline",
                                        "type": "select",
                                        "label": "Line break",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "lf",
                                                "crlf",
                                                "cr"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "uppercaseHeadings",
                                        "type": "boolean",
                                        "label": "Uppercase headings",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "groq:chatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9917446
                            },
                            "mapper": {
                                "model": "llama-3.1-8b-instant",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Debe analizar el contenido del mail {{`10`}} y solo limitate a devolver el codigo numerico de 6 digitos que aparece despues de \"cuenta con este código:\""
                                    }
                                ],
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1732,
                                    "y": -429,
                                    "name": "revision de mails para encontrar cod autorizacion"
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "llama-3.1-8b-instant"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 13,
                                    "module": "airtable:ActionUpdateRecords",
                                    "version": 3,
                                    "parameters": {
                                        "__IMTCONN__": 9917409
                                    },
                                    "mapper": {
                                        "id": "{{4.id}}",
                                        "base": "app3RPm07WOzqz60j",
                                        "table": "tblSpuX72udphp34m",
                                        "record": {
                                            "fldSeOXrjmg8KT73f": "Denegado",
                                            "fldYDYxlziWct24Mn": "{{4.ChatID}}",
                                            "fldhDJ5iGweuJn7q7": "Manual",
                                            "fldlnTsjUKPr8FTuA": "fallo groq se envio mensaje a propietario de la cuenta",
                                            "fldxw08c8A1dh6umM": "{{now}}"
                                        },
                                        "typecast": false,
                                        "useColumnId": false
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 2109,
                                            "y": -66,
                                            "name": "Error de groq"
                                        },
                                        "restore": {
                                            "expect": {
                                                "base": {
                                                    "label": "Conversaciones de Soporte"
                                                },
                                                "table": {
                                                    "label": "Conversaciones"
                                                },
                                                "record": {
                                                    "nested": {
                                                        "fldSeOXrjmg8KT73f": {
                                                            "mode": "edit"
                                                        },
                                                        "flde3Fc8G4kSc1WZM": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "typecast": {
                                                    "mode": "chose"
                                                },
                                                "useColumnId": {
                                                    "mode": "chose"
                                                }
                                            },
                                            "parameters": {
                                                "__IMTCONN__": {
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "airtable2"
                                                    },
                                                    "label": "My Airtable Token or Key connection"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "__IMTCONN__",
                                                "type": "account:airtable3,airtable2",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "base",
                                                "type": "select",
                                                "label": "Base",
                                                "required": true
                                            },
                                            {
                                                "name": "typecast",
                                                "type": "boolean",
                                                "label": "Smart links",
                                                "required": true
                                            },
                                            {
                                                "name": "useColumnId",
                                                "type": "boolean",
                                                "label": "Use Column ID",
                                                "required": true
                                            },
                                            {
                                                "name": "table",
                                                "type": "select",
                                                "label": "Table",
                                                "required": true
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Record ID",
                                                "required": true
                                            },
                                            {
                                                "name": "record",
                                                "spec": [
                                                    {
                                                        "name": "fldYDYxlziWct24Mn",
                                                        "type": "text",
                                                        "label": "ChatID"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "fldSeOXrjmg8KT73f",
                                                        "type": "select",
                                                        "label": "Estado"
                                                    },
                                                    {
                                                        "name": "fldxw08c8A1dh6umM",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Fecha"
                                                    },
                                                    {
                                                        "name": "fldhDJ5iGweuJn7q7",
                                                        "type": "text",
                                                        "label": "Autorizaciones"
                                                    },
                                                    {
                                                        "name": "fldlnTsjUKPr8FTuA",
                                                        "type": "text",
                                                        "label": "Motivo"
                                                    },
                                                    {
                                                        "name": "flde3Fc8G4kSc1WZM",
                                                        "spec": {
                                                            "name": "value",
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Registro de autorización"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Record"
                                            }
                                        ],
                                        "interface": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "createdTime",
                                                "type": "date",
                                                "label": "Created Time"
                                            },
                                            {
                                                "name": "OperacionId",
                                                "type": "number",
                                                "label": "OperacionId"
                                            },
                                            {
                                                "name": "ChatID",
                                                "type": "text",
                                                "label": "ChatID"
                                            },
                                            {
                                                "name": "Estado",
                                                "type": "text",
                                                "label": "Estado"
                                            },
                                            {
                                                "name": "Fecha",
                                                "time": true,
                                                "type": "date",
                                                "label": "Fecha"
                                            },
                                            {
                                                "name": "Autorizaciones",
                                                "type": "text",
                                                "label": "Autorizaciones"
                                            },
                                            {
                                                "name": "Motivo",
                                                "type": "text",
                                                "label": "Motivo"
                                            },
                                            {
                                                "name": "Registro de autorización",
                                                "spec": {
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Registro de autorización"
                                            },
                                            {
                                                "name": "Last modified time",
                                                "type": "date",
                                                "label": "Last modified time"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 17,
                                    "module": "telegram:SendReplyMessage",
                                    "version": 1,
                                    "parameters": {
                                        "__IMTCONN__": 9917293
                                    },
                                    "mapper": {
                                        "text": "Error por favor intentar mas tarde",
                                        "chatId": "{{13.ChatID}}",
                                        "parseMode": "",
                                        "replyMarkup": "",
                                        "messageThreadId": "",
                                        "replyToMessageId": "",
                                        "replyMarkupAssembleType": "reply_markup_enter"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 2489,
                                            "y": -64,
                                            "name": "reintete mas tarde"
                                        },
                                        "restore": {
                                            "expect": {
                                                "parseMode": {
                                                    "label": "Empty"
                                                },
                                                "disableNotification": {
                                                    "mode": "chose"
                                                },
                                                "replyMarkupAssembleType": {
                                                    "label": "Enter the Reply Markup"
                                                }
                                            },
                                            "parameters": {
                                                "__IMTCONN__": {
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "telegram"
                                                    },
                                                    "label": "My Telegram Bot connection"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "__IMTCONN__",
                                                "type": "account:telegram",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "chatId",
                                                "type": "text",
                                                "label": "Chat ID",
                                                "required": true
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "required": true
                                            },
                                            {
                                                "name": "messageThreadId",
                                                "type": "number",
                                                "label": "Message Thread ID"
                                            },
                                            {
                                                "name": "parseMode",
                                                "type": "select",
                                                "label": "Parse Mode",
                                                "validate": {
                                                    "enum": [
                                                        "Markdown",
                                                        "HTML"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "disableNotification",
                                                "type": "boolean",
                                                "label": "Disable Notifications"
                                            },
                                            {
                                                "name": "disableWebPagePreview",
                                                "type": "boolean",
                                                "label": "Disable Link Previews"
                                            },
                                            {
                                                "name": "replyToMessageId",
                                                "type": "number",
                                                "label": "Original Message ID"
                                            },
                                            {
                                                "name": "replyMarkupAssembleType",
                                                "type": "select",
                                                "label": "Enter/Assemble the Reply Markup Field",
                                                "validate": {
                                                    "enum": [
                                                        "reply_markup_enter",
                                                        "reply_markup_assemble"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "replyMarkup",
                                                "type": "text",
                                                "label": "Reply Markup"
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 15,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9917409
                            },
                            "mapper": {
                                "id": "{{4.id}}",
                                "base": "app3RPm07WOzqz60j",
                                "table": "tblSpuX72udphp34m",
                                "record": {
                                    "fldSeOXrjmg8KT73f": "Autorizado",
                                    "fldYDYxlziWct24Mn": "{{4.ChatID}}",
                                    "fldhDJ5iGweuJn7q7": "Automatico",
                                    "fldxw08c8A1dh6umM": "{{now}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2105,
                                    "y": -429,
                                    "name": "Registro final Aceptado"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Conversaciones de Soporte"
                                        },
                                        "table": {
                                            "label": "Conversaciones"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldSeOXrjmg8KT73f": {
                                                    "mode": "edit"
                                                },
                                                "flde3Fc8G4kSc1WZM": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldYDYxlziWct24Mn",
                                                "type": "text",
                                                "label": "ChatID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldSeOXrjmg8KT73f",
                                                "type": "select",
                                                "label": "Estado"
                                            },
                                            {
                                                "name": "fldxw08c8A1dh6umM",
                                                "time": true,
                                                "type": "date",
                                                "label": "Fecha"
                                            },
                                            {
                                                "name": "fldhDJ5iGweuJn7q7",
                                                "type": "text",
                                                "label": "Autorizaciones"
                                            },
                                            {
                                                "name": "fldlnTsjUKPr8FTuA",
                                                "type": "text",
                                                "label": "Motivo"
                                            },
                                            {
                                                "name": "flde3Fc8G4kSc1WZM",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Registro de autorización"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "OperacionId",
                                        "type": "number",
                                        "label": "OperacionId"
                                    },
                                    {
                                        "name": "ChatID",
                                        "type": "text",
                                        "label": "ChatID"
                                    },
                                    {
                                        "name": "Estado",
                                        "type": "text",
                                        "label": "Estado"
                                    },
                                    {
                                        "name": "Fecha",
                                        "time": true,
                                        "type": "date",
                                        "label": "Fecha"
                                    },
                                    {
                                        "name": "Autorizaciones",
                                        "type": "text",
                                        "label": "Autorizaciones"
                                    },
                                    {
                                        "name": "Motivo",
                                        "type": "text",
                                        "label": "Motivo"
                                    },
                                    {
                                        "name": "Registro de autorización",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Registro de autorización"
                                    },
                                    {
                                        "name": "Last modified time",
                                        "type": "date",
                                        "label": "Last modified time"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 10018081
                            },
                            "mapper": {
                                "text": "{{11.result}}",
                                "chatId": "{{4.ChatID}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2479,
                                    "y": -426,
                                    "name": "Respuesta del afirmativa del bot"
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ],
                    "conditions": [
                        [
                            {
                                "a": "{{4.Estado}}",
                                "b": "Autorizado",
                                "o": "text:equal"
                            },
                            {
                                "a": "{{4.Autorizaciones}}",
                                "b": "Manual",
                                "o": "text:equal"
                            }
                        ]
                    ]
                },
                {
                    "merge": false,
                    "label": "Denegado",
                    "type": "condition",
                    "flow": [
                        {
                            "id": 21,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9917293
                            },
                            "mapper": {
                                "text": "Su solictud ha sido denegada por el adminsitrador",
                                "chatId": "{{4.ChatID}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 815,
                                    "y": -10,
                                    "name": "Rechazado"
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ],
                    "conditions": [
                        [
                            {
                                "a": "{{4.Estado}}",
                                "b": "Denegado",
                                "o": "text:equal"
                            }
                        ]
                    ]
                },
                {
                    "merge": false,
                    "disabled": false,
                    "label": "",
                    "type": "else",
                    "flow": [
                        {
                            "id": 6,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9917513
                            },
                            "mapper": {
                                "text": "Su caso se encuentras en revision, se encuentra en revision",
                                "chatId": "{{4.ChatID}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 815,
                                    "y": 290,
                                    "name": "En espera"
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
