Blueprints/Integration Telegram Bot principal.blueprint.json
{
    "name": "Integration Telegram Bot",
    "flow": [
        {
            "id": 32,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2577475
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 483,
                    "y": 42
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My Telegram Bot Updates webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9917513
            },
            "filter": {
                "name": "Solo usuarios humanos",
                "conditions": [
                    [
                        {
                            "a": "{{32.message.from.is_bot}}",
                            "b": "{{false}}",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "text": "Hola {{32.message.from.first_name}}, dame un cachito que reviso?",
                "chatId": "{{32.message.from.id}}",
                "parseMode": "",
                "replyMarkup": "",
                "messageThreadId": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
            },
            "metadata": {
                "designer": {
                    "x": 813,
                    "y": 33,
                    "name": "Saludo"
                },
                "restore": {
                    "expect": {
                        "parseMode": {
                            "label": "Empty"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            },
                            "label": "My Telegram Bot connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        },
        {
            "id": 63,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 9917409
            },
            "mapper": {
                "base": "app3RPm07WOzqz60j",
                "table": "tblSpuX72udphp34m",
                "record": {
                    "fldSeOXrjmg8KT73f": "Esperando autorización",
                    "fldYDYxlziWct24Mn": "{{33.chat.id}}",
                    "fldhDJ5iGweuJn7q7": "Manual",
                    "fldxw08c8A1dh6umM": "{{32.message.date}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1259,
                    "y": 35,
                    "name": "creacion de nuevo registro"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Conversaciones de Soporte"
                        },
                        "table": {
                            "label": "Conversaciones",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldYDYxlziWct24Mn",
                                            "type": "text",
                                            "label": "ChatID"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldSeOXrjmg8KT73f",
                                            "type": "select",
                                            "label": "Estado",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Esperando autorización",
                                                    "value": "Esperando autorización"
                                                },
                                                {
                                                    "label": "Autorizado",
                                                    "value": "Autorizado"
                                                },
                                                {
                                                    "label": "Denegado",
                                                    "value": "Denegado"
                                                },
                                                {
                                                    "label": "Finalizado",
                                                    "value": "Finalizado"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldxw08c8A1dh6umM",
                                            "time": true,
                                            "type": "date",
                                            "label": "Fecha"
                                        },
                                        {
                                            "name": "fldhDJ5iGweuJn7q7",
                                            "type": "text",
                                            "label": "Autorizaciones"
                                        },
                                        {
                                            "name": "fldlnTsjUKPr8FTuA",
                                            "type": "text",
                                            "label": "Motivo"
                                        },
                                        {
                                            "name": "flde3Fc8G4kSc1WZM",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Registro de autorización"
                                        },
                                        {
                                            "name": "fldim6PwCumAViHs6",
                                            "time": false,
                                            "type": "date",
                                            "label": "Última Modificación"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldSeOXrjmg8KT73f": {
                                    "mode": "edit"
                                },
                                "flde3Fc8G4kSc1WZM": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldYDYxlziWct24Mn",
                                "type": "text",
                                "label": "ChatID"
                            },
                            {
                                "mode": "edit",
                                "name": "fldSeOXrjmg8KT73f",
                                "type": "select",
                                "label": "Estado"
                            },
                            {
                                "name": "fldxw08c8A1dh6umM",
                                "time": true,
                                "type": "date",
                                "label": "Fecha"
                            },
                            {
                                "name": "fldhDJ5iGweuJn7q7",
                                "type": "text",
                                "label": "Autorizaciones"
                            },
                            {
                                "name": "fldlnTsjUKPr8FTuA",
                                "type": "text",
                                "label": "Motivo"
                            },
                            {
                                "name": "flde3Fc8G4kSc1WZM",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Registro de autorización"
                            },
                            {
                                "name": "fldim6PwCumAViHs6",
                                "time": false,
                                "type": "date",
                                "label": "Última Modificación"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "OperacionId",
                        "type": "number",
                        "label": "OperacionId"
                    },
                    {
                        "name": "ChatID",
                        "type": "text",
                        "label": "ChatID"
                    },
                    {
                        "name": "Estado",
                        "type": "text",
                        "label": "Estado"
                    },
                    {
                        "name": "Fecha",
                        "time": true,
                        "type": "date",
                        "label": "Fecha"
                    },
                    {
                        "name": "Autorizaciones",
                        "type": "text",
                        "label": "Autorizaciones"
                    },
                    {
                        "name": "Motivo",
                        "type": "text",
                        "label": "Motivo"
                    },
                    {
                        "name": "Registro de autorización",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Registro de autorización"
                    },
                    {
                        "name": "Last modified time",
                        "type": "date",
                        "label": "Last modified time"
                    }
                ]
            }
        },
        {
            "id": 64,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9917293
            },
            "mapper": {
                "text": "esperando",
                "chatId": "{{33.chat.id}}",
                "parseMode": "",
                "replyMarkup": "",
                "messageThreadId": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
            },
            "metadata": {
                "designer": {
                    "x": 1683,
                    "y": 35,
                    "name": "Envio de mensaje de espera"
                },
                "restore": {
                    "expect": {
                        "parseMode": {
                            "label": "Empty"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            },
                            "label": "My Telegram Bot connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        },
        {
            "id": 67,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 9917409
            },
            "mapper": {
                "base": "app3RPm07WOzqz60j",
                "table": "tbldnZxrFNphYl6JM",
                "fields": [
                    "ChatID",
                    "Contraseña"
                ],
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 2045,
                    "y": 33,
                    "name": "traer datos del potencial usuario"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Conversaciones de Soporte"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Autorizaciones"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "ChatID",
                                "Contraseña"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ChatID",
                        "type": "text",
                        "label": "ChatID"
                    },
                    {
                        "name": "Contraseña",
                        "type": "text",
                        "label": "Contraseña"
                    }
                ]
            }
        },
        {
            "id": 71,
            "module": "groq:chatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9917446
            },
            "mapper": {
                "model": "llama-3.1-8b-instant",
                "messages": [
                    {
                        "role": "system",
                        "content": "Eres un autorizador.\n\nCompara los siguientes valores:\n\nID recibido: {{67.ChatID}}\nID esperado: {{64.chat.id}}\n\nContraseña recibida: {{67.Contraseña}}\nContraseña esperada: {{32.message.text}}\n\nSi ambos valores coinciden exactamente, responde únicamente:\n\n{{true}}\n\nSi alguno no coincide, responde únicamente:\n\n{{false}}\n\nNo agregues ninguna explicación, texto adicional, puntuación ni comillas.\n"
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 2362,
                    "y": 23,
                    "name": "se revisa si los datos coincide"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "llama-3.1-8b-instant"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "groq"
                            },
                            "label": "My Groq connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:groq",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ]
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max tokens returned"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty"
                    },
                    {
                        "name": "seed",
                        "type": "number",
                        "label": "Seed"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 92,
                    "module": "airtable:ActionUpdateRecords",
                    "version": 3,
                    "parameters": {
                        "__IMTCONN__": 9917409
                    },
                    "mapper": {
                        "id": "{{63.id}}",
                        "base": "app3RPm07WOzqz60j",
                        "table": "tblSpuX72udphp34m",
                        "record": {
                            "fldSeOXrjmg8KT73f": "Denegado",
                            "fldYDYxlziWct24Mn": "{{63.ChatID}}",
                            "fldhDJ5iGweuJn7q7": "Automatico",
                            "fldlnTsjUKPr8FTuA": "problema con groq",
                            "fldxw08c8A1dh6umM": "{{now}}"
                        },
                        "typecast": false,
                        "useColumnId": false
                    },
                    "metadata": {
                        "designer": {
                            "x": 2451,
                            "y": 724,
                            "name": "error handler en el caso de que fallase groq"
                        },
                        "restore": {
                            "expect": {
                                "base": {
                                    "label": "Conversaciones de Soporte"
                                },
                                "table": {
                                    "label": "Conversaciones"
                                },
                                "record": {
                                    "nested": {
                                        "fldSeOXrjmg8KT73f": {
                                            "mode": "edit"
                                        },
                                        "flde3Fc8G4kSc1WZM": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "typecast": {
                                    "mode": "chose"
                                },
                                "useColumnId": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "airtable2"
                                    },
                                    "label": "My Airtable Token or Key connection"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:airtable3,airtable2",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "base",
                                "type": "select",
                                "label": "Base",
                                "required": true
                            },
                            {
                                "name": "typecast",
                                "type": "boolean",
                                "label": "Smart links",
                                "required": true
                            },
                            {
                                "name": "useColumnId",
                                "type": "boolean",
                                "label": "Use Column ID",
                                "required": true
                            },
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Record ID",
                                "required": true
                            },
                            {
                                "name": "record",
                                "spec": [
                                    {
                                        "name": "fldYDYxlziWct24Mn",
                                        "type": "text",
                                        "label": "ChatID"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "fldSeOXrjmg8KT73f",
                                        "type": "select",
                                        "label": "Estado"
                                    },
                                    {
                                        "name": "fldxw08c8A1dh6umM",
                                        "time": true,
                                        "type": "date",
                                        "label": "Fecha"
                                    },
                                    {
                                        "name": "fldhDJ5iGweuJn7q7",
                                        "type": "text",
                                        "label": "Autorizaciones"
                                    },
                                    {
                                        "name": "fldlnTsjUKPr8FTuA",
                                        "type": "text",
                                        "label": "Motivo"
                                    },
                                    {
                                        "name": "flde3Fc8G4kSc1WZM",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Registro de autorización"
                                    }
                                ],
                                "type": "collection",
                                "label": "Record"
                            }
                        ],
                        "interface": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "createdTime",
                                "type": "date",
                                "label": "Created Time"
                            },
                            {
                                "name": "OperacionId",
                                "type": "number",
                                "label": "OperacionId"
                            },
                            {
                                "name": "ChatID",
                                "type": "text",
                                "label": "ChatID"
                            },
                            {
                                "name": "Estado",
                                "type": "text",
                                "label": "Estado"
                            },
                            {
                                "name": "Fecha",
                                "time": true,
                                "type": "date",
                                "label": "Fecha"
                            },
                            {
                                "name": "Autorizaciones",
                                "type": "text",
                                "label": "Autorizaciones"
                            },
                            {
                                "name": "Motivo",
                                "type": "text",
                                "label": "Motivo"
                            },
                            {
                                "name": "Registro de autorización",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Registro de autorización"
                            },
                            {
                                "name": "Last modified time",
                                "type": "date",
                                "label": "Last modified time"
                            }
                        ]
                    }
                },
                {
                    "id": 123,
                    "module": "telegram:SendReplyMessage",
                    "version": 1,
                    "parameters": {
                        "__IMTCONN__": 9917293
                    },
                    "mapper": {
                        "chatId": "{{64.chat.id}}",
                        "text": "Por favor intentar nuevamente",
                        "messageThreadId": "",
                        "parseMode": "",
                        "replyToMessageId": "",
                        "replyMarkupAssembleType": "reply_markup_enter",
                        "replyMarkup": ""
                    },
                    "metadata": {
                        "designer": {
                            "x": 2857,
                            "y": 738,
                            "name": "Falla del groq solictar nuevo intento"
                        },
                        "restore": {
                            "parameters": {
                                "__IMTCONN__": {
                                    "label": "My Telegram Bot connection",
                                    "data": {
                                        "scoped": "true",
                                        "connection": "telegram"
                                    }
                                }
                            },
                            "expect": {
                                "parseMode": {
                                    "label": "Empty"
                                },
                                "disableNotification": {
                                    "mode": "chose"
                                },
                                "replyMarkupAssembleType": {
                                    "label": "Enter the Reply Markup"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:telegram",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "chatId",
                                "type": "text",
                                "label": "Chat ID",
                                "required": true
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text",
                                "required": true
                            },
                            {
                                "name": "messageThreadId",
                                "type": "number",
                                "label": "Message Thread ID"
                            },
                            {
                                "name": "parseMode",
                                "type": "select",
                                "label": "Parse Mode",
                                "validate": {
                                    "enum": [
                                        "Markdown",
                                        "HTML"
                                    ]
                                }
                            },
                            {
                                "name": "disableNotification",
                                "type": "boolean",
                                "label": "Disable Notifications"
                            },
                            {
                                "name": "disableWebPagePreview",
                                "type": "boolean",
                                "label": "Disable Link Previews"
                            },
                            {
                                "name": "replyToMessageId",
                                "type": "number",
                                "label": "Original Message ID"
                            },
                            {
                                "name": "replyMarkupAssembleType",
                                "type": "select",
                                "label": "Enter/Assemble the Reply Markup Field",
                                "validate": {
                                    "enum": [
                                        "reply_markup_enter",
                                        "reply_markup_assemble"
                                    ]
                                }
                            },
                            {
                                "name": "replyMarkup",
                                "type": "text",
                                "label": "Reply Markup"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 72,
            "module": "builtin:BasicIfElse",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2680,
                    "y": 19,
                    "name": "Corresponde?"
                }
            },
            "branches": [
                {
                    "merge": false,
                    "label": "No corresponde",
                    "type": "condition",
                    "flow": [
                        {
                            "id": 119,
                            "module": "builtin:BasicIfElse",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2986,
                                    "y": -184
                                }
                            },
                            "branches": [
                                {
                                    "merge": false,
                                    "label": "esta registrado?",
                                    "type": "condition",
                                    "flow": [
                                        {
                                            "id": 113,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 9917293
                                            },
                                            "mapper": {
                                                "text": "Telegram al administrador\r\n{{64.chat.first_name}} {{64.chat.last_name}} esta pidiendo codigo de autorizacion para la operacion {{63.OperacionId}}",
                                                "chatId": "7367209193",
                                                "parseMode": "",
                                                "replyMarkup": "",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3773,
                                                    "y": -222,
                                                    "name": "Pedido de verifcacion manual admin"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "Empty"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "My Telegram Bot connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 121,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 9917513
                                            },
                                            "mapper": {
                                                "text": "En espera de autorizacion por admisnitrador",
                                                "chatId": "{{63.ChatID}}",
                                                "parseMode": "",
                                                "replyMarkup": "",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4156,
                                                    "y": -210,
                                                    "name": "Aviso de revision manual solictante"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "Empty"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "My Telegram Bot connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ]
                                            }
                                        }
                                    ],
                                    "conditions": [
                                        [
                                            {
                                                "a": "{{67.`__IMTLENGTH__`}}",
                                                "b": "1",
                                                "o": "text:equal"
                                            }
                                        ]
                                    ]
                                },
                                {
                                    "merge": false,
                                    "disabled": false,
                                    "label": "",
                                    "type": "else",
                                    "flow": [
                                        {
                                            "id": 120,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 9917293
                                            },
                                            "mapper": {
                                                "text": "No estas autorizado",
                                                "chatId": "{{67.ChatID}}",
                                                "parseMode": "",
                                                "replyMarkup": "",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3515,
                                                    "y": 58,
                                                    "name": "Rechazado"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "Empty"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "My Telegram Bot connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ],
                    "conditions": [
                        [
                            {
                                "a": "{{71.result}}",
                                "b": "false",
                                "o": "text:equal"
                            }
                        ]
                    ]
                },
                {
                    "merge": false,
                    "disabled": false,
                    "label": "",
                    "type": "else",
                    "flow": [
                        {
                            "id": 73,
                            "module": "microsoft-email:listMessages",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9917455
                            },
                            "mapper": {
                                "limit": "1",
                                "folder": "/AQMkADAwATZiZmYAZC04N2IxLTcyODYtMDACLTAwCgAuAAADtszDoAcPeUmX3EVy9ccHLAEArTjulZ5BAkqgAEpesc0HSQAAAgEMAAAA",
                                "search": "Tu código de verificación"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2853,
                                    "y": 392,
                                    "name": "busco el mail en casilla"
                                },
                                "restore": {
                                    "expect": {
                                        "folder": {
                                            "mode": "chose",
                                            "path": [
                                                "Bandeja de entrada"
                                            ]
                                        },
                                        "orderby": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            },
                                            "label": "My Microsoft connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "folder",
                                        "type": "folder",
                                        "label": "Mail Folder"
                                    },
                                    {
                                        "name": "search",
                                        "type": "text",
                                        "label": "Search"
                                    },
                                    {
                                        "name": "orderby",
                                        "type": "select",
                                        "label": "Order by",
                                        "validate": {
                                            "enum": [
                                                "subject asc",
                                                "subject desc",
                                                "createdDateTime asc",
                                                "createdDateTime desc",
                                                "lastModifiedDateTime asc",
                                                "lastModifiedDateTime desc",
                                                "receivedDateTime asc",
                                                "receivedDateTime desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 82,
                            "module": "regexp:HTMLToText",
                            "version": 1,
                            "parameters": {},
                            "filter": null,
                            "mapper": {
                                "html": "{{73.body.content}}",
                                "newline": "lf",
                                "uppercaseHeadings": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3145,
                                    "y": 399
                                },
                                "restore": {
                                    "expect": {
                                        "newline": {
                                            "label": "LF (\\n) - Unix/Mac OS X"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "HTML"
                                    },
                                    {
                                        "name": "newline",
                                        "type": "select",
                                        "label": "Line break",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "lf",
                                                "crlf",
                                                "cr"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "uppercaseHeadings",
                                        "type": "boolean",
                                        "label": "Uppercase headings",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 78,
                            "module": "groq:chatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9917446
                            },
                            "mapper": {
                                "model": "llama-3.1-8b-instant",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Debe analizar el contenido del mail {{`82`}}y solo limitate a devolver el codigo numerico de 6 digitos que aparece despues de \"cuenta con este código:\""
                                    }
                                ],
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3505,
                                    "y": 407,
                                    "name": "revision de mails para encontrar cod autorizacion"
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "llama-3.1-8b-instant"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 104,
                                    "module": "telegram:SendReplyMessage",
                                    "version": 1,
                                    "parameters": {
                                        "__IMTCONN__": 9917293
                                    },
                                    "mapper": {
                                        "text": "Telegram al administrador\n{{64.chat.first_name}} {{64.chat.last_name}} esta pidiendo codigo de autorizacion\n\nResponder:\n/aprobar 25\no\n/denegar 25\"",
                                        "chatId": "7367209193",
                                        "parseMode": "",
                                        "replyMarkup": "",
                                        "messageThreadId": "",
                                        "replyToMessageId": "",
                                        "replyMarkupAssembleType": "reply_markup_enter"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 3750,
                                            "y": 754,
                                            "name": "error groq: envio mensaje para autorizacion manual"
                                        },
                                        "restore": {
                                            "expect": {
                                                "parseMode": {
                                                    "label": "Empty"
                                                },
                                                "disableNotification": {
                                                    "mode": "chose"
                                                },
                                                "replyMarkupAssembleType": {
                                                    "label": "Enter the Reply Markup"
                                                }
                                            },
                                            "parameters": {
                                                "__IMTCONN__": {
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "telegram"
                                                    },
                                                    "label": "My Telegram Bot connection"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "__IMTCONN__",
                                                "type": "account:telegram",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "chatId",
                                                "type": "text",
                                                "label": "Chat ID",
                                                "required": true
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "required": true
                                            },
                                            {
                                                "name": "messageThreadId",
                                                "type": "number",
                                                "label": "Message Thread ID"
                                            },
                                            {
                                                "name": "parseMode",
                                                "type": "select",
                                                "label": "Parse Mode",
                                                "validate": {
                                                    "enum": [
                                                        "Markdown",
                                                        "HTML"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "disableNotification",
                                                "type": "boolean",
                                                "label": "Disable Notifications"
                                            },
                                            {
                                                "name": "disableWebPagePreview",
                                                "type": "boolean",
                                                "label": "Disable Link Previews"
                                            },
                                            {
                                                "name": "replyToMessageId",
                                                "type": "number",
                                                "label": "Original Message ID"
                                            },
                                            {
                                                "name": "replyMarkupAssembleType",
                                                "type": "select",
                                                "label": "Enter/Assemble the Reply Markup Field",
                                                "validate": {
                                                    "enum": [
                                                        "reply_markup_enter",
                                                        "reply_markup_assemble"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "replyMarkup",
                                                "type": "text",
                                                "label": "Reply Markup"
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 84,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9917409
                            },
                            "mapper": {
                                "id": "{{63.id}}",
                                "base": "app3RPm07WOzqz60j",
                                "table": "tblSpuX72udphp34m",
                                "record": {
                                    "fldSeOXrjmg8KT73f": "Autorizado",
                                    "fldYDYxlziWct24Mn": "{{63.ChatID}}",
                                    "fldhDJ5iGweuJn7q7": "Automatico"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4018,
                                    "y": 411,
                                    "name": "Registro final Aceptado"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Conversaciones de Soporte"
                                        },
                                        "table": {
                                            "label": "Conversaciones"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldSeOXrjmg8KT73f": {
                                                    "mode": "edit"
                                                },
                                                "flde3Fc8G4kSc1WZM": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldYDYxlziWct24Mn",
                                                "type": "text",
                                                "label": "ChatID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldSeOXrjmg8KT73f",
                                                "type": "select",
                                                "label": "Estado"
                                            },
                                            {
                                                "name": "fldxw08c8A1dh6umM",
                                                "time": true,
                                                "type": "date",
                                                "label": "Fecha"
                                            },
                                            {
                                                "name": "fldhDJ5iGweuJn7q7",
                                                "type": "text",
                                                "label": "Autorizaciones"
                                            },
                                            {
                                                "name": "fldlnTsjUKPr8FTuA",
                                                "type": "text",
                                                "label": "Motivo"
                                            },
                                            {
                                                "name": "flde3Fc8G4kSc1WZM",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Registro de autorización"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "OperacionId",
                                        "type": "number",
                                        "label": "OperacionId"
                                    },
                                    {
                                        "name": "ChatID",
                                        "type": "text",
                                        "label": "ChatID"
                                    },
                                    {
                                        "name": "Estado",
                                        "type": "text",
                                        "label": "Estado"
                                    },
                                    {
                                        "name": "Fecha",
                                        "time": true,
                                        "type": "date",
                                        "label": "Fecha"
                                    },
                                    {
                                        "name": "Autorizaciones",
                                        "type": "text",
                                        "label": "Autorizaciones"
                                    },
                                    {
                                        "name": "Motivo",
                                        "type": "text",
                                        "label": "Motivo"
                                    },
                                    {
                                        "name": "Registro de autorización",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Registro de autorización"
                                    },
                                    {
                                        "name": "Last modified time",
                                        "type": "date",
                                        "label": "Last modified time"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 75,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9917293
                            },
                            "filter": {
                                "name": "autorizado?",
                                "conditions": []
                            },
                            "mapper": {
                                "text": "{{78.result}}",
                                "chatId": "{{64.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4466,
                                    "y": 419,
                                    "name": "Respuesta del afirmativa del bot"
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}